{% extends 'base.html.twig' %}

{% block body %}
    <h3>Product "{{ product.name }}"</h3>
    <p>Product {{ product.price }}</p>
    {#<p><em>Product {{ product.description }}</em></p>#}
    {% if product.category.name is defined %}
        <h4>Category:</h4>
    <p>{{ product.category.name }}</p>
    {% endif %}
    {#src/AppBundle/Resources/public/#}
    {#<img src="{{ asset('bundles/app/img/dl.jpg') }}" alt="Symfony!" />#}

    <input type="button" class="my_butt" value="Get" />
    <div id="target" style="height: 120px;"></div>
    <input type="button" class="my_butt_stop" value="Stop" />
{% endblock %}

{% block stylesheets %}
    <style>
        body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
        h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
        h1 { font-size: 36px; }
        h2 { font-size: 21px; margin-bottom: 1em; }
        p { margin: 0 0 1em 0; }
        a { color: #0000F0; }
        a:hover { text-decoration: none; }
        code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
        #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
        #container { padding: 2em; }
        #welcome, #status { margin-bottom: 2em; }
        #welcome h1 span { display: block; font-size: 75%; }
        #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
        #icon-book { display: none; }

        @media (min-width: 768px) {
            #wrapper { width: 80%; margin: 2em auto; }
            #icon-book { display: inline-block; }
            #status a, #next a { display: block; }

            @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
            @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
            .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script>
        var i = 0;
        var interval = null;
        $('.my_butt_stop').on('click',function(){
            clearInterval(interval);
        });
        $('.my_butt').on('click', function(){

        interval = setInterval(
                test.bind(null, interval)
        , 2000);
        });


        function test(a){
                $.ajax({
                    type:"POST",
                    url:"/app_dev.php/ajax/test",
                    success: function (data) {
                        console.dir(data);
                        if ($('.internal').length < 4) {
                            $('#target').append( '<div class="internal" style="display: none"><em>'+ i+ '<>' +data+'</em></div>');
                            $('#target .internal:last').slideDown("slow");
                        } else {
                            $('#target .internal:first').slideUp("slow", function() {
                                $('#target .internal:first').detach();
                            });
                            $('#target').append( '<div class="internal" style="display: none"><em>'+ i+ '<>' +data+'</em></div>');
                            $('#target .internal:last').slideDown("slow");
                        }

                        i++;
                    }
                })

        }
    </script>
{% endblock %}
