{% block form_row %}
{% spaceless %}
<div class="form_row"  style = 'background-color:#EEE;width: 300px;'>
    {{ form_errors(form, {'attr': {'class': 'testError', 'style':'background-color:#66FFFF;padding: 0 10px; text-align:center;'}}) }}
    {{ form_label(form) }}
    {{ form_widget(form, {'attr': {'class': 'testClass11', 'style':'background-color:#CCC;padding: 0 10px; text-align:center;'}}) }}
    {#{{ textarea_widget(form, {'attr': {'class': 'testTestarea', 'style':'background-color:lightblue;'}}) }}#}
</div>
{% endspaceless %}
{% endblock form_row %}
{%- block textarea_widget -%}
    <textarea style="background-color: lightblue;" {{ block('widget_attributes') }}>{{ value }}</textarea>
{%- endblock textarea_widget -%}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        <ul style="background-color: lightseagreen;" >
            {%- for error in errors -%}
                <li style="background-color: lightblue;" >{{ error.message }}</li>
            {%- endfor -%}
        </ul>
    {%- endif -%}
{%- endblock form_errors -%}